<div class="side-contact">
    <a class="link to-top text-muted" href="#" title="Remonter">
{#        <i class="fa-solid fa-rocket"></i>#}
        <i class="fa-solid fa-arrow-turn-up"></i>
    </a>
    <a class="link text-muted" href="https://www.guilded.gg/i/m24dzjW2" target="_blank"
       title="Nous rejoindre sur Guilded">
        <i class="fa-brands fa-guilded"></i>
    </a>
    <a class="link text-muted scroll-to" href="#contact" title="Nous contacter">
        <i class="fa-solid fa-envelope"></i>
    </a>
</div>
