{% extends 'base-inside-page.html.twig' %}


{% block title %}
    Mentions légales
{% endblock %}


{% block body_content %}

    <h1>Mentions légales</h1>
<p>
    Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la confiance en l'économie numérique, il est précisé aux utilisateurs du site Shadow of Caliban l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi.
</p>

<h2>Edition du site</h2>

<p>Le présent site, accessible à l’URL https://shadow-of-caliban.fr (le « Site »), est édité par :</p>

<p>Prénom Nom de famille, résidant 11111, de nationalité Française (France), né(e) le 01/01/1970,</p>


    <h2>Hébergement</h2>

    <p>Le Site est hébergé par la société OVH SAS, situé 2 rue Kellermann - BP 80157 - 59053 Roubaix Cedex 1, (contact téléphonique ou email : 1007).</p>

    <h2>Directeur de publication</h2>

    <p>Le Directeur de la publication du Site est Prénom Nom de famille.</p>

    <h2>Nous contacter</h2>

    <p>
        Par téléphone : +33606060606 <br>
        Par email : parisrob@hotmail.fr <br>
        Par courrier : 11111
    </p>

    <p>
        Génération des mentions légales par <a href="https://www.legalstart.fr/" rel="nofollow" target="_blank">Legalstart</a>.
    </p>
{% endblock %}

