<h2><strong>Appel à tout les @Citizen et les @Citoyen de Caliban, nous avons un de nos clients qui souhaite faire appel à nous pour des missions discrètes de récupération de cargaison.</strong></h2>
<p>Il nous est demandé de nous rendre dans des entrepôts officiels et de lui ramener un certain nombre de caisses.</p>
<p>Cela semble simple mais notre client craint une intervention de son rival qui est prêt à tout pour nuire à son entreprise.</p>
<p>Nous allons avoir besoin de 2 équipes :</p>
<ul>
    <li>Une Team de logistique qui se chargera du transport et de la livraison.</li>
    <li>Une team de protection qui se chargera de l'aspect sécurité.</li>
</ul>
<h3><strong>Composition de la flotte nomade :</strong></h3>
<ul>
    <li>L’équipe Mars sera abord d'une corvette (Hammerhead/Redeemer).</li>
    <li>L’équipe Crusader sera abord de chasseur léger (Gladius,Arrow,Talon, etc...)</li>
</ul>
