<h2><strong>La Shadow of Caliban doit procéder à l'achat et à la revente des différents bien récolté sur le système Stanton.</strong></h2>
<p>Tous les membres sont invités à accompagner le convoi pour assurer la protection de celui-ci.</p>
<p>Prévoir des cryptokey.</p>
<h3><strong>Composition de la flotte nomade :</strong></h3>
<ul>
    <li>L’équipe Crion sera à bord d'un navire de transport (C2, Caterpillar, Freelancer, Mercury Star Runner).</li>
    <li>L’équipe Crusader sera à bord de chasseur Léger & Lourd (Gladius, Talon, Arrow etc...) ou lourd (Ares Ion/Inferno/Vanguard/Scorpius/Hurricane)</li>
</ul>
