<h2><strong>La Shadow of Caliban vous invite à une course sur Orison.</strong></h2>
<p>Inscription :
    <br>Prix du billet : 25.000 aUEC
    <br>Merci de contacter @Sekhmetbast pour l'inscription.</p>

<h3><strong>Récompense :</strong></h3>
<ul>
    <li>:first_place_medal: place : 500.000 aUEC</li>
    <li>:second_place_medal: place : 250.000 aUEC</li>
    <li>:third_place_medal: place : 100.000 aUEC</li>
</ul>
<h3><strong>Véhicule :</strong></h3>
<ul>
    <li>Prévoir au minimum un Cyclone RC et une Dragonfly (disponible à l'achat à New Deal sur Lorville)</li>
    <li>Tonk non accepter</li>
</ul>
