<h2><strong>Appel à tous les chasseurs de la flotte nomade des Shadow of Caliban, nous avons un de nos clients qui souhaite faire appel à nous pour des missions de chasse à la prime.</strong></h2>
<p>En effet, le Gang des Arlington, ont frappé le chantier spatial de Crusader Industrie est ont dérobé plusieurs vaisseaux appartenant à l’UEE. Notre client nous demande de procéder à la récupération ou à la destruction des navires dérobés.</p>
<h3><strong>Etat des vaisseaux dérobés :</strong></h3>
<ul>
    <li>Eclipse</li>
    <li>Huricane</li>
    <li>Vanguard Warden</li>
    <li>Retaliator</li>
    <li>Freelancer MIS x2</li>
    <li>Cutlass Black x3</li>
    <li>Buccaneer</li>
    <li>Hornet x2</li>
    <li>Gladius</li>
    <li>F8C Lightning</li>
    <li>Hamerhead</li>
    <li>Idris</li>
</ul>
<h3><strong>Composition de la flotte nomade :</strong></h3>
<ul>
    <li>L’équipe Mars sera à bord d'une corvette (Hammerhead/Redeemer).</li>
    <li>L’équipe Crusader sera à bord de chasseur lourd (Ares Ion/Inferno/Vanguard/Scorpius/Hurricane)</li>
</ul>
