<h2><strong>Appel à tous les lascars de la flotte nomade des Shadow of Caliban, nous avons un de nos clients qui souhaite faire
    appel à nous pour une mission de livraison de sucrerie.</strong></h2>
<p>En effet, le Gang des Ninetails, ont lancé une opération de grande ampleur pour la fabrication et le transport de
    caisse illicite vers leurs points de vente. Ils nous demandent de procéder à la récupération et à la sécurisation
    des caisses pour les amener jusqu’aux points de vente.
</p>
<p>Il y a moyen de se faire beaucoup d'argent !</p>

