<h2><strong>Les rescapés invitent l’ensemble des personnes ayant un lien avec la flotte nomade à une soirée de festivité
    et
    d'exploration.</strong></h2>
<p>Retrouvez nous pour jouer les apprentis lutins de l’espace et peut-être que nous aurons de gagner de nombreux
    cadeaux.</p>
<h2><strong>Composition de la flotte nomade :</strong></h2>
<ul>
    <li>Carrack "USS Discovery"</li>
    <li>Véhicules terrestres</li>
</ul>
<hr>
<h2><strong>Qu’est-ce que Luminalia ?</strong></h2>
<p>Luminalia est un événement important sur Star Citizen qui se tient en décembre et qui vise à célébrer les fêtes de
    fin d’année avec la communauté du jeu.</p>
<p>L’évènement est généralement accompagné de concours dans lesquels les joueurs peuvent gagner des récompenses, des
    cadeaux à chaque connexion et également intègre en jeu des lettres cachées un peu partout dans les capitales de
    l’univers que les joueurs peuvent revendre contre des crédits. Par ailleurs, pour les nouveaux joueurs des
    promotions sur les starters pack du jeu sont ajoutés au shop.</p>
<h2>Quelle est l’histoire de Luminalia dans l’univers de Star Citizen</h2>
<p>Dans le Lore du jeu, Luminalia est en premier
    lieu un festival Banu nommé tsikti efanga (Glow Festival) pendant
    lequel des bougies sont allumées dans tous les systèmes Banu et qui visent à symboliser l’union de tout leur peuple.
    <br>À cette occasion les Banus échangent des cadeaux avec leurs proches, de simples amis, ou même des inconnus afin
    que
    la chance et la prospérité puissent les accompagner.
    <br>Cette tradition a finalement été adoptée par les humains de l’UEE, qui a reconnu officiellement cette fête sur
    son
    calendrier.
    <br>Avec le temps, et le développement un peu commercial de cette tradition, les différents marchands du verse on
    remplacés les cadeaux par des enveloppes ou des papiers cadeaux vides qui pouvaient être retourné en magasin en
    échange de véritables cadeaux ce qui au passage leur a permis d’augmenter leur vente en cette période de l’année.
    <br>Quoi qu’il en soit Luminalia est devenue une fête qui rassemble les peuples au-delà de l’espace et des
    frontières
    appréciée de tous
</p>
