<div data-aos="fade-up">
    <div class="container">
        <div class="decorated-title">
            <h4 class="main-font">NOTRE CHARTE</h4>
            <span class="trait"></span>
        </div>
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="mb-3">
                    <h2>Charte de bonne conduite :</h2>
                    <h3>Introduction</h3>
                    Tout membre du syndicat se doit de suivre la charte a la lettre. <br>
                    Tout joueur jouant régulièrement avec les membres doit également suivre la charte. <br>
                    Tout manquement entraînera des sanctions à la hauteur de l’infraction commise
                </div>
                <div class="mb-3">
                    <h3>Règles</h3>
                    <ul class="mb-0">
                        <li>Tout contenu injurieux, violent, rabaissant, discriminant, pouvant blesser ou heurter la
                            sensibilité d’une personne est strictement interdit et pourra entraîner des sanctions.
                        </li>
                        <li>Aucun grief ne saurait être autorisé. Cependant, se réunir pour tracker un joueur suite à
                            des
                            représailles faites aux membres du syndicat est autorisé.
                        </li>
                        <li>Le respect mutuel est de mise sur l’ensemble des supports de communication entre les
                            membres.
                        </li>
                        <li>Limiter la pollution sonore sur les canaux vocaux et se mettre en push to talk si cela est
                            nécessaire.
                        </li>
                        <li>Nous sommes sur un jeu, la bonne humeur & l’amusement sont de mises.</li>
                        <li>Tout contrat accepté, doit être accompli jusqu’à son terme dans les conditions établies par
                            le
                            client.
                        </li>
                        <li>Après inscription à un Event, votre participation est obligatoire, le respect des règles
                            édictées est primordial.
                        </li>
                        <li>En cas de longue absence, veillez à prévenir le syndicat.</li>
                    </ul>
                </div>
                <div>
                    <h3>Droit à l'image & publication</h3>
                    <p>
                        Toute personnes présente sur un chat vocal sur guilded donne son accord pour une utilisation
                        non-commercial sur les supports de communication de la Shadow of Caliban (Twitch, Instagram,
                        Youtube
                        ect ) de sa voix ainsi que des visuels publié sur guilded. La même règle s’applique pour les
                        screenshots et capture vidéo publié par d’autres membres, sur lesquels son personnage serais
                        présent.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
