<div class="success-message">
    <div class="success-checkmark">
        <div class="check-icon">
            <span class="icon-line line-tip"></span>
            <span class="icon-line line-long"></span>
            <div class="icon-circle"></div>
            <div class="icon-fix"></div>
        </div>
    </div>
    <p>
        Nous avons bien reçu ton message et nous t'en remercions ! A bientôt dans le verse.
    </p>
    <button type="button" class="btn btn-primary btn-lg resend-contact w-100">
        Renvoyer un message
    </button>
</div>
