<section id="histoire" data-aos="fade-up">
    <div class="container">
        <div class="video">
            <video autoplay muted loop disablePictureInPicture controlsList="nodownload"
                   poster="{{ asset('video/homepage/histoire-video-poster.webp') }}"
                   data-ajax-video="{{ asset('video/homepage/calibanstarmap-mA1eZoPN1PE.mp4') }}" type="video/mp4"
                   src=""></video>
            <img src="{{ asset('video/homepage/histoire-video-poster.webp') }}" alt="video cover"/>
        </div>
        <div class="content">
            <div class="decorated-title">
                <h2 class="h4 main-font">HISTOIRE DE LA SHADOW OF CALIBAN</h2>
                {#            <h4 class="main-font">PRESENTATION</h4> #}
                <span class="trait"></span>
            </div>
            <p>
                La <strong>Shadow of Caliban</strong> est une <strong>organisation syndicale</strong> représentant les
                rescapés du système Caliban.
                L'objectif du syndicat est de <strong>construire une flotte nomade</strong> qui a pour convention le
                <strong>nomadisme</strong> et
                l'<strong>autosuffisance</strong>.
                Nous souhaitons construire un écosystème d'<strong>explorateur voyageant de système en système</strong>
                pour récupérer
                sur leur
                passage les artefacts les plus rare dans l'objectif de les revendre à leur client les plus prestigieux.
            </p>
            {#        <div class="decorated-title"> #}
            {#            <h4 class="main-font">NOTRE HISTOIRE</h4> #}
            {#            <span class="trait"></span> #}
            {#        </div> #}
            <p>
                L’histoire du <strong>syndicat Shadow of Caliban</strong> commence le 7 juillet 2884 jours de l’invasion
                du
                système Caliban par l’un des vaisseaux le plus puissant de la flotte <strong>Vanduul le
                    Kingship</strong>, accompagné de son armada.
                Celle-ci a pu traverser l’ensemble du système sans être détecté par l’<strong>UEE</strong>.
            </p>
            <p>
                L’ensemble de la colonie était encore présent sur la planète lorsque l’armada <strong>Vanduul</strong>
                se
                rapprocha de celle-ci.
                Elle était tellement imposante qu’une ombre se forma qui recouvrit l’ensemble de la colonie. Les
                colons se sont
                retrouvés terrifiés devant le nombre et la taille imposante de la flotte.
            </p>
            <p>
                En ce qui concerne les défenses sur place il ne comptait qu’un seul escadron la 88, à elle seule
                elle
                représentait le tout dernier rempart du système et qui fut à la suite de ses événements renommés
                (<strong>The Lost Squad</strong>), armés de leurs bravoures et de leur détermination, ils réussissent à
                percer le
                blocus de la flotte ennemi ce qui avait permis aux colons de s’échapper.
            </p>
            <p class="history-see-more">
                <a class="collapsed animated-link" data-bs-toggle="collapse" href="#historySeeMore" role="button"
                   aria-expanded="false">
                    Voir plus
                </a>
            </p>
            <div class="collapse" id="historySeeMore">
                <p>
                    Une fois la perte de leur maison les rescapés de la chute de <strong>Caliban</strong> fut convié à
                    rejoindre les
                    autres systèmes
                    habités de l’<strong>UEE</strong>, mais ils se sont vu balader de colonie en colonie, jusqu’à
                    trouver refuge à
                    l’intérieur du
                    <strong>système Stanton</strong> dans les usines d’<strong>Hurston à Lorville</strong>.
                </p>
                <p>
                    Pendant 67 ans, ils se sont vu être traités comme des esclaves par la famille
                    <strong>Hurston</strong> qui ont su
                    profité de leur
                    moment de faiblesse. Pris en partie par les partisans des travailleurs de la société. Ils se
                    sont retrouvé à
                    être incité par la population locale à mener les premiers heurtes contre la compagnie en vue
                    d’améliorer
                    les
                    droits des travailleurs, il ne fallut que peu de temps pour qu’une <strong>guerre civile</strong>
                    soit déclarée.
                    Face à milice
                    locale, ils n’ont eu d’autres choix que de s’enfuir de la planète abord des mêmes vaisseaux qui
                    les avait
                    auparavant amené.
                </p>
                <p>
                    Nul part ou transporter la flotte, ils ont réussi à trouver refuge au sein de la <strong>ceinture
                        d’AARON du système Stanton</strong>
                     qui abrite une grande richesse en carcasse de vaisseau et de minerai ce qui leur ont
                    permis rapidement
                    de réparer leurs flottes et de l’agrandir.
                </p>
                <p>
                    Depuis lors, les colons décidèrent après cet enchaînement de désastre de ne plus faire halte sur
                    le sol d’une
                    planète et de vivre à bord de leurs vaisseaux <strong>une vie de nomade</strong>, avec pour désir de <strong>voyager</strong> de
                    système en
                    système. Caressant l’espoir d’<strong>unir une force militarisée</strong> pour chasser l’influence <strong>Vanduul</strong> du
                    <strong>système Caliban</strong> et
                    de récupérer les richesses oubliées par ses ancêtres.
                </p>
            </div>
        </div>
    </div>
</section>
