<section id="presentation" data-aos="fade-up">
    <div class="container">
        <div class="decorated-title">
            <h4 class="main-font">NOTRE HISTOIRE</h4>
{#            <h4 class="main-font">PRESENTATION</h4>#}
            <span class="trait"></span>
        </div>
        <p>
            La Shadow of Caliban est une organisation syndicale représentant les rescapés du système Caliban.
            L'objectif du syndicat est de construire une flotte nomade qui a pour convention le nomadisme et
            l'autosuffisance.
            Nous souhaitons construire un écosystème d'explorateur voyageant de système en système pour récupérer
            sur leur
            passage les artefacts les plus rare dans l'objectif de les revendre à leur client les plus prestigieux.
        </p>
    </div>
</section>
