@font-face {
  font-family: 'Franklin Gothic Heavy';
  src: url('../../fonts/franklin/FranklinGothic-Heavy.eot');
  src: url('../../fonts/franklin/FranklinGothic-Heavy.eot?#iefix') format('embedded-opentype'),
               url('../../fonts/franklin/FranklinGothic-Heavy.woff2') format('woff2'),
               url('../../fonts/franklin/FranklinGothic-Heavy.woff') format('woff'),
               url('../../fonts/franklin/FranklinGothic-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Franklin Gothic Heavy';
  src: url('../../fonts/franklin/FranklinGothic-HeavyItalic.eot');
  src: url('../../fonts/franklin/FranklinGothic-HeavyItalic.eot?#iefix') format('embedded-opentype'),
               url('../../fonts/franklin/FranklinGothic-HeavyItalic.woff2') format('woff2'),
               url('../../fonts/franklin/FranklinGothic-HeavyItalic.woff') format('woff'),
               url('../../fonts/franklin/FranklinGothic-HeavyItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Franklin Gothic Demi';
  src: url('../../fonts/franklin/FranklinGothic-Demi.eot');
  src: url('../../fonts/franklin/FranklinGothic-Demi.eot?#iefix') format('embedded-opentype'),
               url('../../fonts/franklin/FranklinGothic-Demi.woff2') format('woff2'),
               url('../../fonts/franklin/FranklinGothic-Demi.woff') format('woff'),
               url('../../fonts/franklin/FranklinGothic-Demi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Franklin Gothic Demi';
  src: url('../../fonts/franklin/FranklinGothic-DemiItalic.eot');
  src: url('../../fonts/franklin/FranklinGothic-DemiItalic.eot?#iefix') format('embedded-opentype'),
               url('../../fonts/franklin/FranklinGothic-DemiItalic.woff2') format('woff2'),
               url('../../fonts/franklin/FranklinGothic-DemiItalic.woff') format('woff'),
               url('../../fonts/franklin/FranklinGothic-DemiItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}




@font-face {
  font-family: 'Franklin Gothic';
  src: url('../../fonts/franklin/FranklinGothic-Medium.eot');
  src: url('../../fonts/franklin/FranklinGothic-Medium.eot?#iefix') format('embedded-opentype'),
               url('../../fonts/franklin/FranklinGothic-Medium.woff2') format('woff2'),
               url('../../fonts/franklin/FranklinGothic-Medium.woff') format('woff'),
               url('../../fonts/franklin/FranklinGothic-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Franklin Gothic';
  src: url('../../fonts/franklin/FranklinGothic-MediumItalic.eot');
  src: url('../../fonts/franklin/FranklinGothic-MediumItalic.eot?#iefix') format('embedded-opentype'),
               url('../../fonts/franklin/FranklinGothic-MediumItalic.woff2') format('woff2'),
               url('../../fonts/franklin/FranklinGothic-MediumItalic.woff') format('woff'),
               url('../../fonts/franklin/FranklinGothic-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

